/* Josh Channin 
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:300,400');

.ewallet-container {
  width: 100%;
  padding: 40px 0px 40px 0px;
}

.wallet {
  margin: 0 auto;
  border-radius: 5px;
  background-color: #ffffff;
  /* box-shadow: 0px 8px 20px 6px rgb(255, 178, 22);
  -webkit-box-shadow: 0px 8px 20px 6px rgb(255, 178, 22);
  -moz-box-shadow: 0px 8px 20px 6px rgb(255, 178, 22); */
  height: 680px;
  max-width: 900px;
  min-width: 800px;
  display: flex;
}

.left-wallet {
  background-color: #f2f2f2;
  width: 300px;
  height: initial;
  padding: 40px;
  border-radius: 5px;
}

.right-trans {
  background-color: #ffffff;
  width: 600px;
  height: initial;
  padding: 40px;
  border-radius: 5px;
}

h1 {
  color: #7d818e;
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.left-wallet h1,
.left-wallet modal-open,
.right-trans h1,
.right-trans #balance {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

#balance {
  float: right;
  line-height: 34px;
  font-size: 30px;
  font-weight: bold;
  color: #464646;
}

.trans-list {
  display: none;
  border-top: 1px solid #f2f2f2;
  margin-top: 40px;
  overflow-y: scroll;
  max-height: 550px;
}

.trans {
  margin-top: 15px;
}

.trans-plus {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/384009/plus-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 50px;
  display: block;
  float: left;
  position: relative;
  top: 15px;
}

.trans-minus {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/384009/minus-icon.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 50px;
  display: block;
  float: left;
  position: relative;
  top: 15px;
}

.trans-details {
  margin-top: 20px;
  display: inline-block;
  width: 80%;
}

.trans-name,
.trans-type-date {
  margin: 3px;
}

.trans-name {
  display: inline-block;
}

.trans-type-date {
  color: #888;
  padding-left: 40px;
}

.trans-amt {
  float: right;
  line-height: 55px;
  font-size: 18px;
  margin-top: 10px;
}

.amt-green {
  color: rgb(113, 207, 66);
}

.amt-blue {
  color: rgb(166, 178, 216);
}

::-webkit-scrollbar {
  display: none;
}

.no-trans {
  color: #888;
  text-align: center;
}

.valid-green {
  border: 2px solid green;
}

.valid-red {
  border: 2px solid darkred;
}
